/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/bg-img.jpg") top center;
  background-size: cover;
  color: #444;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #a086c4;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  /* height: 80px; */
  padding: 20px 0;
}

.header-box {
  height: 36px;
  padding: 0 12px;
}

#header .logo {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
}

#under-search {
  position: relative;
  z-index: 1;
}

.mobile-searchbox-form {
  display: none;
}

#side-navbar {
  display: none;
}

@media (max-width: 820px) {
  #header {
    padding-bottom: 0;
  }
  #header .logo {
    display: none;
  }

  #header .searchbox-form {
    display: none;
  }
  .mobile-searchbox-form {
    display: inline;
    margin: 0 20px 0 20px;
  }

  #side-navbar {
    display: inline;
  }

  #side-navbar .mobile-logo {
    font-size: 20px;
    margin: 0;
    padding-left: 12px;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 3px;
  }
  #under-search {
    display: none;
  }

  .login-button {
    display: none;
  }
}

.searched-list {
  /* width: 712px; */
  width: 48.3%;
  background-color: white;
  text-align: left;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
  z-index: 99;
  /* margin-left: 295px; */
  position: relative;
}

.searched-list a {
  color: gray;
  font-size: 14px;
}

.searched-list a:hover {
  color: black;
  font-size: 14px;
}
#category-container {
  position: absolute;
  width: 100%;
}

#category-container ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: 10px 0 0 10px;
  width: 900px;
}

hr {
  color: white;
}

.dropdown-menu hr {
  color: black;
}
/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  padding: 30px 0;
  color: #444;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #a086c4;
}
