/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  padding: 20px;
  background-color: #ffffff;
  color: white;
  margin-bottom: 50px;
}

#header a {
  color: #31135c;
}

.header-box {
  height: 36px;
  padding: 0 12px;
}

#header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

#header .logo {
  font-size: 36px;
  margin: 0 20px 0 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  width: 20%;
}

.searchbox-form {
  width: 50%;
  border: 1px solid #31135c;
  border-radius: 3px;
}

#header .dropdown {
  width: 20%;
  background-color: #ffffff;
  border-radius: 4px 0 0 4px;
}

.dropdown .dropdown-item {
  color: black !important;
}

.searchbox {
  width: 80%;
}

#under-search {
  position: relative;
  z-index: 1;
}

.empty-span {
  font-size: 36px;
  width: 20%;
  height: 0px;
  padding-left: 8px;
  margin: 0 20px 0 0;
  visibility: hidden;
}

.empty-component {
  width: 20%;
  visibility: hidden;
}

.searched-list {
  width: 50%;
  background-color: white;
  text-align: left;
  border: 1px solid black;
  z-index: 99;
  position: absolute;
  overflow: auto;
}

.searched-list a {
  color: gray !important;
  font-size: 14px;
}

.searched-list a:hover {
  color: black !important;
  font-size: 14px;
}

#category-container {
  width: 60%;
  padding-top: 10px;

}

#category-container ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: auto;
  width: 60%;
  margin-top: 10px;
}

.mobile-searchbox-form {
  display: none;
}

#side-navbar {
  display: none;
}

@media (max-width: 820px) {

  #header-top-container {
    display: none;
  }

  #header .logo {
    display: none;
  }

  #header .searchbox-form {
    display: none;
  }

  .mobile-searchbox-form {
    display: inline;
  }

  .searched-list {
    width: 90%;
  }

  #side-navbar {
    display: inline;
    margin-bottom: 20px;
  }

  #side-navbar .mobile-logo {
    font-size: 24px;
    margin: 0;
    padding-left: 12px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;

  }

  #category-container {
    display: none;
  }

  .login-button {
    display: none;
  }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  padding: 30px 0;
  color: #444;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright span {
  color: #31135c;
}