/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: "Hahmlet-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-ExtraBold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Hahmlet-ExtraBold";
}
body {
  /* font-family: "Open Sans", sans-serif; */
  background-size: cover;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  /* font-family: "Raleway", sans-serif; */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 20px;
  /* background-color: #31135c; */
  background-color: #532496;
  color: white;
}

#header a {
  color: white;
}
.header-box {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#side-navbar {
  display: none;
}

@media (max-width: 820px) {
  #header .logo {
    display: none;
  }
  .header-box {
    display: none;
  }
  #nav {
    display: none;
  }

  .login-button {
    display: none;
  }
  #side-navbar {
    display: inline;
  }

  #side-navbar .mobile-logo {
    font-size: 24px;
    margin: 0;
    padding-left: 12px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
  }
}

#category-container {
  list-style: none;

  padding: 10px 0 0 0;
  margin: 10px 0 0 10px;
  width: 900px;
}

hr {
  color: black;
}

/*--------------------------------------------------------------
# main Section
--------------------------------------------------------------*/
#main {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  min-height: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  color: black;
}

#main-container {
  margin-top: 100px;
  width: 90%;
  height: 100%;
  position: relative;
}
#main h1 {
  color: #31135c;
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
}

#main h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.searchbox-form {
  width: 50%;
  min-width: 350px;
  border: 2px solid #31135c;
}

.dropdown {
  width: 20%;
  background-color: #31135c;
}

.dropdown .btn {
  color: white;
}
.searchbox {
  width: 80%;
}

.searched-list {
  width: 50%;
  min-width: 350px;
  overflow: auto;
  position: absolute;
  z-index: 999;
  border: 1px solid black;
  background-color: white;
}

.empty-component {
  width: 20%;
  visibility: hidden;
}
@media (max-width: 820px) {
  .searched-list {
    padding: 0;
  }
}
.searched-list a {
  color: gray;
  font-size: 14px;
}

.searched-list a:hover {
  color: black;
  font-size: 14px;
}

.searched-component {
  white-space: nowrap;
  padding: 0;
}

#recommendation-div {
  width: 100%;
  margin-top: 100px;
}
.recommendation-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  overflow: scroll;
}

.recommendation-component {
  border: 1px solid black;
  padding: 10px;
}
.recommendation-img {
  width: 300px;
  height: 300px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  margin: 100px;
  padding: 30px 0;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
}

#footer .copyright span {
  color: #31135c;
}
