#main {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  /* countdown */
  color: white;
}

#perfume-page-container {
  padding: 20px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: white; */
  border-style: solid;
  border-radius: 5px;
}

#perfume-page-container a {
  /* color: black; */
}

.main-spans {
  font-size: 50px;
  font-weight: bold;
  margin: 70px;
}

#image-and-info-container {
  border-style: solid;

  margin: 30px;
  padding: 20px 0 20px 0;
}

#image-and-info-container .card {
  color: black;
}
#perfume-title {
  font-size: 30px;
  font-weight: bold;
}

#perfume-subtitle {
  font-size: 20px;
  font-weight: bold;
}

#recommendation-container {
  border-style: solid;

  margin: 30px;
  padding: 20px 0 20px 0;
}

#recommendation-image-container {
  height: 100px;
  list-style: none;
}

.recommendation-image {
  max-width: 100%;
  max-height: 100%;
}

#reviews-container {
  /* border-style: solid; */
  margin: 30px;
  padding: 20px 0 20px 0;
}

/* 검색 결과 페이지 관련 추가 */

.perfume-item {
  -moz-text-align-last: center;
  text-align-last: center;
}

.perfume-item .perfume-img {
  padding: 0 60px;
  margin-bottom: 15px;
}
