#main {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

#search-result-page-container {
  padding: 20px;
  width: 90%;
  max-height: 800px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
}

.main-spans {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 70px;
}

.perfume-item {
  height: 80px;
}

.perfume-item .perfume-img {
  height: 80px;
  width: 80px;
}

@media (max-width: 820px) {
  .main-spans {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }

  .perfume-item {
    height: 80px;
  }

  .perfume-item .perfume-img {
    height: 80px;
    width: 80px;
  }
}
