/* #main {
  height: 800px;
} 

#main a {
  color: black;
  text-decoration: none;
}

#main-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 100px 0;
}
#survey-span { 
  font-size: 30px;
}

.btn-outline-dark {
  border-width: 2px;
  background-color: #31135c;
  color: white;
}
.btn-outline-dark:hover {
  background-color: #4d2c7c;
  
}

.btn-outline-primary:focus {
  box-shadow: none;
}

.btn-outline-primary:disabled {
  
} */

#main {
}

#main a {
  color: black;
  text-decoration: none;
}

#servey-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.qbox {
  width: 30%;
  min-width: 200px;
  height: 600px;
  min-height: 200px;
  background-image: url("/static/img/box-bg.jpg");
  position: relative;
  margin: 60px;
  background-size: cover;
  opacity: 90%;
  display: flex;
}

.qbox:hover {
  opacity: 50%;
}

.qbox2 {
  background-image: url("/static/img/box-bg3.jpg");
}

.qbox-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.test_title {
  color: white;
  text-align: center;
  margin-top: 30%;
  text-shadow: 2px 2px 1px black;
}

.qbox-inner div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.click {
  border-width: 2px;
  background: none;
  color: white;
  /* position: absolute; */

  margin-top: 10%;

  padding: 5px 30px;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
}

@media (max-width: 820px) {
  .qbox {
    width: 200px;
    height: 300px;
    margin: 0;
  }

  .test_title {
    font-size: 12px;
  }
}

.click:hover {
  background-color: #ffffff;
  color: #31135c;
  /* border-color: white; */
}

.click:focus {
  box-shadow: none;
}

.btn-outline-primary:disabled {
  /* color: white; */
}
