#main {
  height: 800px;
}

#main a {
  color: black;
  text-decoration: none;
}

#main-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 100px 0;
}
#survey-span {
  font-size: 30px;
}

.btn-outline-dark {
  border-width: 2px;
  background-color: #31135c;
  color: white;
}
.btn-outline-dark:hover {
  background-color: #4d2c7c;
  /* border-color: white; */
}

.btn-outline-primary:focus {
  box-shadow: none;
}

.btn-outline-primary:disabled {
  /* color: white; */
}
