{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<section id="main" class=" d-flex flex-column align-items-center">
    <div class="row">
        <div class="col-4">
            <img src={% if person.profile.image %}"{{ person.profile.image.url }}"{% else
                %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} width="150rem" style="border-radius: 50%;" alt="">
        </div>
        <div class="col-8">
            <h2>{{ person.username }}
                {% if person.username == user.username %}
                <a href="{% url 'accounts:profile' %}"><button class="btn btn-success">프로필 편집</button></a>
                {% endif %}
                <!-- 다음 포스트에 프로필 편집 페이지를 구성할 것이다. -->
            </h2>
            <p>{{ person.profile.nickname }}</p>
            <p>{{ person.profile.description }}</p>
        </div>
    </div>

</section>
{% endblock %}