@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: "GmarketSansMedium";
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

article {
  display: flex;
  flex-direction: column;
}
article .head {
  font-size: 50px;
  font-family: "GmarketSansMedium";
  margin: 15px;
  color: white;
}

.btn-answer,
.btn-answer:visited,
.btn-answer:hover,
.btn-answer:active,
.btn-answer:focus {
  background-color: #31135c;
  border: #1f1f1f;
  width: 288px;
  margin: 30px auto;
  font-size: 13px;
  color: #ffffff;
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.btn-answer:hover,
.btn-answer:visited {
  background-color: #eceaea !important;
  width: 288px;
  margin: 30px auto;
  font-size: 13px;
  color: #31135c;
}

.progress-bar {
  background-color: #31135c;
}

.progress {
  background-color: white;
  border: 1px solid rgb(224, 223, 223);
}


.process {
  display: none;
  margin: auto;
  color: #f0f0f0;
  text-shadow: 1px 1px 1px #31135c;

}

.process-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50%;

}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid aliceblue;
  margin: 10px;
  -webkit-animation: bg infinite;
          animation: bg infinite;



}

@-webkit-keyframes bg {
  from {
    background: none;
  }

  to {
    background-color: #31135c;

  }
}

@keyframes bg {
  from {
    background: none;
  }

  to {
    background-color: #31135c;

  }
}

.circle1 {
  -webkit-animation-name: bg;
          animation-name: bg;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;


}

.circle2 {
  -webkit-animation-name: bg;
          animation-name: bg;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;

}

.circle3 {
  -webkit-animation-name: bg;
          animation-name: bg;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;

}
.question-content {
  font-size: 14px;
  color: #6f6f6f;
}
