{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUI HYANG</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png'%}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png'%}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicons/android-icon-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json'%}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/ms-icon-144x144.png'%}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/style.css'%}">
  </head>

  <body>

    <section id="main_contents">
      <div class="wrapper">
        <div class="title">
          <h3 class="main_title">내 성향에 맞는 향 찾기</h3>
          <h3 class="sub_title">이제 막 향수에 눈을 뜬 당신!
            <br>
            당신의 MBTI와 어울리는 향기는 무엇일까요?
            <br>당신에게 맞는 향을 찾아드립니다</h3>
        </div>

        <div class="button">
          <a href="{% url 'form1' %}">
            <button class="start" type="button">시작하기</button>
          </a>
        </div>

        <div class="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'survey/img/logo.png'%}">
          </a>
        </div>
      </div>
    </section>
  </body>

</html>