/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/bg-img.jpg") top center;
  background-size: cover;
  color: #444;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #a086c4;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /* height: 80px; */
  padding: 20px 0;
}

.header-box {
  height: 36px;
  padding: 0 12px;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
}

.searched-list {
  /* width: 712px; */
  width: 48.3%;
  background-color: white;
  text-align: left;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
  z-index: 99;
}

.searched-list a {
  color: gray;
  font-size: 14px;
}

.searched-list a:hover {
  color: black;
  font-size: 14px;
}

#category-container {
  list-style: none;
  color: white;
  padding: 0;
  margin: 10px 0 0 10px;
  width: 900px;
}

hr {
  color: black;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}
/*--------------------------------------------------------------
# main Section
--------------------------------------------------------------*/
#main {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  min-height: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
  color: white;
}

#main span {
  color: #a086c4;
}
#main-container {
  margin-top: 100px;
  padding: 20px;
  width: 90%;
  height: 100%;
}
#main h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#main h2 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
}

.searched-list {
  background-color: white;
  padding: 0 16px 0 16px;

  background-clip: content-box;
  overflow: auto;
}

.searched-list a {
  color: gray;
  font-size: 14px;
}

.searched-list a:hover {
  color: black;
  font-size: 14px;
}

.searched-component {
  white-space: nowrap;
}

#under-search {
  position: relative;
}

#recommendation-container {
  position: absolute;
  margin-top: 100px;
}
--------------------------------------------------------------

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  margin: 100px;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #a086c4;
}
