#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-outer-div {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  background-color: white;
  width: 80%;
  padding: 20px 0;
  margin-bottom: 200px;
}

.ranking-container {
  width: 100%;
  background-color: white;
}

.ranking-title {
  width: 100%;
  color: white;
  background-color: #31135c;
  padding: 5px 0 5px 10px;
}

.ranking-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.perfume-img {
  width: 60px;
  height: 60px;
}
.ranking-component {
  margin: 5px 0;
  padding-left: 10px;
  width: 100%;
  border: 0.5px solid black;
  transition-duration: 0.5s;
  transition-property: border;
  transition-timing-function: ease-in-out;
}

.ranking-component a {
  color: black;
  width: 100%;
}

.selected {
  border: 2px solid purple;
  transition-duration: 0.5s;
  transition-property: border;
  transition-timing-function: ease-in-out;
}

/* check */
#reviews-container {
  /* border-style: solid; */
  margin: 30px;
  border: 1px solid #ddd;
  width: 60%;
}

.review-filter {
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
}
.each-review {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.review-user {
  font-weight: bolder;
  margin-right: 10px;
}

.review-date {
  font-size: 12px;
}

.empty-star {
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}

.badge {
  background-color: rgba(103, 1, 103, 0.6);
  color: white;
}

.review-content {
  margin-top: 10px;
}

.review-form {
  padding: 10px;
  border: 1px solid #ddd;
}

.rating-container {
  margin: 0 5px 15px 5px;
}

.rating-container span {
  margin-right: 10px;
}

.rank-select-button {
  border: 1px solid black !important;
}
