@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  font-family: "GmarketSansMedium";
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

article {
  /* display: flex;
  flex-direction: column; */


}

article .head {
  font-size: 50px;
  font-family: "GmarketSansMedium";
  margin: 15px;
  color: white;
}

.row1 {
  display: flex;
  justify-content: space-around;

}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 200px;
}

.btn-answer,
.btn-answer:visited,
.btn-answer:hover,
.btn-answer:active,
.btn-answer:focus {
  background-color: #31135c;
  border: #31135c;
  width: 150px;
  height: 140px;


  font-size: 15px;
  color: #ffffff;
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}


.btn-answer:hover,
.btn-answer:visited {
  background: none;
  border: 5px solid white;

  font-size: 15px;
  /* color: #31135c; */
}

.progress-bar {
  background-color: #31135c;
}

.progress {
  background-color: white;
  border: 1px solid rgb(224, 223, 223);
}



.question-content {
  font-size: 20px;
  padding: 15px;
  color: #6f6f6f;
}

.process {
  display: none;
  margin: auto;
  color: #f0f0f0;
  text-shadow: 1px 1px 1px #31135c;

}

.process-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50%;

}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid aliceblue;
  margin: 10px;
  animation: bg infinite;



}

@keyframes bg {
  from {
    background: none;
  }

  to {
    background-color: #31135c;

  }
}

.circle1 {
  animation-name: bg;
  animation-duration: 0.8s;


}

.circle2 {
  animation-name: bg;
  animation-delay: 0.8s;
  animation-duration: 0.8s;

}

.circle3 {
  animation-name: bg;
  animation-delay: 1.6s;
  animation-duration: 0.8s;

}

.question {
  display: none;
}