@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: "NEXON Lv1 Gothic OTF";
}

#main_contents {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

#main_contents .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.title {
  text-align: center;
  padding-bottom: 50px;
}

.main_title {
  font-family: "GmarketSansMedium";
  font-size: 50px;
  padding: 10px 0 10px 0;
  margin-bottom: 50px;
  color: white;
  /* text-shadow: -2px 0px 0px white, 2px 0px 0px white, 0px -2px 0px white,
    0px 2px 0px white; */
}

.sub_title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  line-height: 25px;
}

.button {
  text-align: center;
  padding-bottom: 50px;
}
.button button {
  width: 300px;
  height: 50px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 20px;
  font-weight: bold;
  background-color: #31135c;
  color: white;
  margin-bottom: 20px;
}

.button button:hover {
  background-color: white;
  color: #31135c;
  transition: all 0.6s;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.logo a {
  width: 100px;
}

.logo img {
  padding-top: 60px;
  padding-left: 25px;
  width: 50px;
  height: auto;
}
