{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/perfume.css' %}">
  <section id="main">
    <div id="perfume-page-container">
      <span class="main-spans">PERFUME</span>
      <div id="image-and-info-container" class="d-flex justify-content-around">
        <div class="card" style="width: 25rem">
          {% if perfume.image %}
            <img src="{{ perfume.image.url }}" alt="perfume-image"/>
          {% else %}
            이미지 준비 중
          {% endif %}
          <div class="card-body">
            <p class="card-text">
              {{ perfume.country }}
            </p>
          </div>
        </div>
        <div id="perfume-info" class="">
          <span id="perfume-title">{{ perfume.name }}</span><br>
          <span id="perfume-subtitle">{{ perfume.brand}}</span>
          <div id="perfume-detail">
            <div class="alert alert-primary" role="alert">
              {{ perfume.season }}
              /
              {{ perfume.flavor }}
            </div>
            <div class="alert alert-primary" role="alert">
              {{ perfume.gender }}
              /
              {{ perfume.age }}대 분들께 추천합니다 👾
            </div>
            <div class="alert alert-primary" role="alert">
              어울리는 상황은?
              {{ perfume.situation }}
              😎
            </div>
            <div class="alert alert-primary" role="alert">
              {{ perfume.explain }}
            </div>
          </div>
        </div>
      </div>
      <span class="main-spans">RECOMMENDATION</span>
      <div id="recommendation-container">
        <ul id="recommendation-image-container" class="d-flex justify-content-around">
          <li>
            <img src="{% static 'img/fleur-de-peau.png'%}" alt="fleur-de-peau" class="recommendation-image"/>
          </li>
          <li>
            <img src="{% static 'img/hwyl.jpg'%}" alt="fleur-de-peau" class="recommendation-image"/>
          </li>
          <li>
            <img src="{% static 'img/fleur-de-peau.png'%}" alt="fleur-de-peau" class="recommendation-image"/>
          </li>
          <li>
            <img src="{% static 'img/fleur-de-peau.png'%}" alt="fleur-de-peau" class="recommendation-image"/>
          </li>
          <li>
            <img src="{% static 'img/fleur-de-peau.png'%}" alt="fleur-de-peau" class="recommendation-image"/>
          </li>
        </ul>
      </div>
      <span class="main-spans">REVIEWS</span>

      <!-- 리뷰쓰기 -->
      <div id="reviews-container">
        <div class="well well-sm">
          <div class="row" id="post-review-box">
            <div class="col-md-12">
              <form accept-charset="UTF-8" action="{% url 'new_review' perfume.pk  %}" method="post">
                {% csrf_token %}

                <!-- 선택 항목 -->
                <div class="btn-group" style="display:inline;">
                  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    타입
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="type_list" value="달콤한">
                        달콤한</a>
                    </li>
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="type_list" value="비누향의">
                        비누향의</a>
                    </li>
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="type_list" value="신선한">
                        신선한</a>
                    </li>
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="type_list" value="무거운">
                        무거운</a>
                    </li>
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="type_list" value="톡쏘는">
                        톡 쏘는</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">표현 추가하기</a>
                    </li>
                  </ul>
                </div>

                <div class="btn-group" style="display:inline;">
                  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    지속력
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="power" value="good">좋아요</a>
                    </li>
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="power" value="moderate">적당해요</a>
                    </li>
                    <li>
                      <a class="dropdown-item"><input type="checkbox" name="power" value="bad">별로예요</a>
                    </li>
                  </ul>
                </div>

                <br><br>
                <span class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">시향</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="first_scent">
                </span>

                <span class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">착향</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="put_scent">
                </span>

                <span class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">잔향</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="rest_scent">
                </span>

                <span class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">자유로운 설명</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="content">
                </span>
                <input id="ratings-hidden" name="rating" type="hidden">
                <div class="text-right">
                  <br>
                  <button class="btn btn-success btn-lg" type="submit">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>

        <!-- 리뷰 보이기 (review 항목 중 content-자유로운 설명-만 보이게 한 상태)-->

        {% for review in perfume.review_set.all %}
          <span class="badge rounded-pill bg-light">{{ review.date }}</span>
          {{ review.content }}
          <hr>

        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}