{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
  <section id="main">
    <div class='ranking-outer-div'>
      <div class='ranking-container'>
        <div class='ranking-title'>검색어 순위</div>
        <ul class='ranking-list'>
          <li class='group1 ranking-component'>
            <a href="">1.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">2.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">3.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">4.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">5.</a>
          </li>

          <li class='group2 ranking-component'>
            <a href="">6.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">7.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">8.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">9.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">10.</a>
          </li>
        </ul>
      </div>
      <div class='ranking-container'>
        <div class='ranking-title'>인기 향수 순위</div>
        <ul class='ranking-list'>
          <li class='group1 ranking-component'>
            <a href="">1.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">2.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">3.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">4.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">5.</a>
          </li>

          <li class='group2 ranking-component'>
            <a href="">6.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">7.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">8.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">9.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">10.</a>
          </li>
        </ul>
      </div>
      <div class='ranking-container'>
        <div class='ranking-title'>인기 브랜드 순위</div>
        <ul class='ranking-list'>
          <li class='group1 ranking-component'>
            <a href="">1.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">2.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">3.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">4.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">5.</a>
          </li>

          <li class='group2 ranking-component'>
            <a href="">6.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">7.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">8.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">9.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">10.</a>
          </li>
        </ul>
      </div>
      <div class='ranking-container'>
        <div class='ranking-title'>#남친선물 향수 순위</div>
        <ul class='ranking-list'>
          <li class='group1 ranking-component'>
            <a href="">1.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">2.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">3.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">4.</a>
          </li>
          <li class='group1 ranking-component'>
            <a href="">5.</a>
          </li>

          <li class='group2 ranking-component'>
            <a href="">6.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">7.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">8.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">9.</a>
          </li>
          <li class='group2 ranking-component'>
            <a href="">10.</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {% endblock%}
